
@keyframes logoAnim{

  0% {position: relative; right: 5%;}
    50%{ position: relative;right: -5%;;}
    65%{ position: relative;right: 5%;; }
    100%{ position: relative;right: 0px; }
}



.heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  text-align: center;
    font-size: 1.6rem;
   
}
.minor_heading{
    font-weight: bold;
}
p{
    font-size: 1.2rem;
}
#logo{

   position: static;
   
    margin-left: 25%;
    
    
  animation-name: logoAnim;
    animation-duration: 3s;
    width: 5%;
    height: 5%;
}

body{
    background-color: #e8e8e8;
    margin-top: 7vw;
    font-family: 'Montserrat', sans-serif;
}

#menu {
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    display: flex;
    align-items: center;
    top: 0px;
    padding: 10px;
    z-index: 1;
    background-color: white;
    
}

#title{   margin: 0%;
    position: relative;
    left:0;
    text-align: center;
    padding: 0px;
    font-size: 2.5vw;
   
}

#t{
   
    position: fixed;
    right:0;
    padding: 0px;
    text-align: right;

}
#menu a{
  
  text-decoration: none;
    margin-right: 0rem;
    position: relative;
    padding: 1rem;
    justify-content: space-between;
    font-size:1.3vw;

    transition: .1s all linear;
   
   
}
#menu a:hover{
    background: #e8e8e8;

}

footer{
    text-align: center;
}
.heading_section{
    padding-top: 50px;
    left: 0;
    right: 0;
   display: flex;
   background-color: black;
   color: white;
    text-align: center;
    display: block;
    padding-bottom:  50px;
    font-size: 3rem;
    font-weight: lighter;
  }

  