

  @keyframes increasefont{

    0% { width: 20%;}
      50%{  width: 25%;}
    
      100%{  width: 30%; }
  }



.parent {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: .1s all linear;
  
  }
  
  .child {
    background-color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 1 10px;
    max-width: 450px;
    transition: .1s all linear;
   
  }
  .child:hover,div.maps:hover  {
  
    box-shadow: 0 6px  rgba(0,0,0,.05), 0 4px 8px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
  
  }

  .child:hover p{
   font-size: 2rem;
  
  
  
  }
  .child:hover img{
    animation-name: increase;
    animation-duration: 0.1s;
   width: 30%;
  
  }
  div.maps:hover{
    flex: 1 1 50px;
  }
  .childof{
  
    flex: 1 1 30px;
  }
 
    
    .child p{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin:0% 0% 4% 0%;
    
    }
    .child form{
        padding:10px;
    }
    .child img{
        transition: .1s all linear;
      margin:auto;
     float: left;
     padding-right: 20px;
      
    }

    #cinemaselect{
        font-size: 1.5rem;
        text-align: center;
    }

    div.maps img{
        width: 100%;
        min-width: 300px;
        height: auto;
    
    }
    div.maps {
        
        background-color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 1 10px;
        
    min-width: 300px;
    max-width: 450px;
    transition: .1s all linear;
       
         
    }
    #adjust {
        padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
    }
    div.desc_text{
        margin: -5%;
        text-align: center; 
        padding: 5px;
        font-size: 1.4rem;
    }
    footer{
        clear: both;
    }