

  @keyframes increasefont{

    0% { width: 20%;}
      50%{  width: 25%;}
    
      100%{  width: 30%; }
  }



.parent {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
   
  
  }
  
  .child {
    background-color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 1 10px;
    max-width: 500px;
    transition: .1s all linear;
    border-radius: 20px;
   
  }
  .chilof *{
    padding: 10px;
  }
  .child:hover,div.maps:hover  {
  
    box-shadow: 0 6px  rgba(0,0,0,.05), 0 4px 8px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
  
  } 
  

  @media screen and (min-width: 1300px)
  { 
    .child:hover p{
      font-size: 2rem;
     }
     .child:hover img {
      animation-name: increase;
      animation-duration: 0.1s;
       -webkit-animation-name: increase;
       -webkit-animation-duration: 0.1s;
      padding:5px;
      margin:5px;
      width: 30%;
     
     }
    
  }

  
  div.maps:hover{
    flex: 1 1 50px;
  }
  .childof{
    
    flex: 1 1 30px;
  }
 
    
    .child p{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin:0% 0% 4% 0%;
    
    }
    .child form{
        padding:10px;
    }
    .child img{
        padding-left: 10px;
       
    
     float: left;
     padding-right: 20px;
      
    }

    #cinemaselect{
       
        text-align: center;
       
    }

    div.maps img{
        width: 100%;
        min-width: 300px;
        height: auto;
    
    }
    div.maps {
        
        background-color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 1 10px;
        
    min-width: 300px;
    max-width: 450px;
    transition: .1s all linear;
       
         
    }
    h3+div {
        padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
    }
    div.desc_text{
        margin: -5%;
        text-align: center; 
        padding: 5px;
        font-size: 1.4rem;
    }
    footer{
        clear: both;
    }

    #maplocations h3{
      font-size:2rem;
      padding:15px;
    }

   .timings{
      background-color:  #e8e8e8;
      font-size: 1rem;
      margin:5px;
      padding:2px;
      font-family: 'Montserrat', sans-serif;;
      font-weight: bold;
    }
    button{
      
      height:40px;
      font-family: 'Montserrat', sans-serif;;
      font-weight: bold;
     background-color: #e8e8e8;
     margin: 10px;

    }
    button:hover{
      cursor: pointer;
    }
    #cinemas{
      
      font-size:1rem;
      font-family: 'Montserrat', sans-serif;;
      font-weight: bold;
    }
    #cinemaselect label{
      font-size:1.5rem;
     
    }
   