#showticketsprint{
text-align: center;
background-color: white;
height:100%;

}

#showticketsprint h2{
    font-size: 2rem;
    padding: 15px;
}

.ticket{
    
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    
}
.ticket input{
    float: right;
    padding: 0;
    padding-left: 5px;
}
label{
    padding-right: 5px;
}
.ticket h4{
margin-bottom: 0;
padding-bottom: 5px;

text-align: center;
   font-size: 1.5rem;
}
@media print{
   
    #menu{
        width: 0;
    }
    body{
        margin: 0 0 0 0;
    }
    h2+article{
        break-after: page;
    }
    article{
        
       
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #menu,img,h2,footer,header,hr{
        visibility: hidden;
    }
    
    
}

form input[type=text]{
    background-color: #e8e8e8;;
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
}