#booking_headings{
 
   
  
    box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);

}
#booking_headings h3{
    font-size: 2rem;
    margin: 0%;
    padding: 20px;

}
#booking_headings table{
    margin-right: auto;
    margin-left: auto;
padding-bottom: 40px;
padding-top:20px;
  
}
#booking_headings form{
    margin-top:20px;
    font-size: 1.4rem;
}
#booking_headings table td{
    border: 1px solid black;
    width: 50px;
    
}
#booking_headings table td:hover{
background-color:yellow;
}

#booking_headings th{

    background-color: black;
    color: white;
    padding: 10px;
}

#confirm{
    max-width: fit-content;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-bottom: 30px;
    border: 3px solid black;
    box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
}
#confirm h4{
  
    color: black;
    font-size: 1.5rem;
}

#confirm p{
    font-size: 1.7rem;
}
label{
    font-weight: 600;
    font-size: 1.2rem;
}

h3+article{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
 
}

#seating{
    
    text-align: center;
    background-color: white;
 
    
    
}
label{
    padding-top: 0%;
    text-align: left;
    margin-top: 0%;
    padding-bottom: 0%;
    padding-right: 5px;
}
footer{
    clear: both;
}
input[type=button]{
    
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
}
form input[type=text]{

    background:#e8e8e8;
    float: right;

    padding-left: 5px;
    padding-top: 5px;
    padding-right: 0%;
    padding-bottom: 0%;
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
}