#booking_headings{
 
   
  
    box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);

}
#booking_headings h3{
    font-size: 2rem;
    margin: 0%;
    padding: 20px;

}
#booking_headings table{
    margin-right: auto;
    margin-left: auto;
padding-bottom: 40px;
padding-top:20px;
  
}
#booking_headings form{
    padding-top:20px;
    font-size: 1.4rem;
}
#booking_headings table td{
    border: 1px solid black;
    width: 50px;
    
}
#booking_headings table td:hover{
background-color:yellow;
}

#booking_headings th{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
}

#confirm{
    max-width: fit-content;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    border: 3px solid black;
    box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
}
#confirm h4{
    background-color: black;
    color: white;
    font-size: 1.5rem;;
}

#confirm p{
    font-size: 1.7rem;
}
label{
    font-weight: 600;
    font-size: 1.2rem;
}

#seating{
    
    text-align: center;
    display: flexbox;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}
footer{
    clear: both;
}