
@keyframes logo{

    from{ position: relative; right: 100px;}
    to{position: relative; right: 00px;}
}



#test{
   animation-name: logo;
    animation-duration: 3s;
  
  width: 15%;
  height: 15%;
}

#menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}

/*
 position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
  /*align-content: center;
/*  background-color: yellow;
text-align: center;*/