body video{
    width: 50%;
    
}


#Now_showing{
display:block;
margin: auto;
text-align: center;




}


#Now_showing h2{
    margin-top: 5px;
    left: 0;
    right: 0;
   display: flex;
    box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
    display: block;
    padding-bottom:  20px;
    font-size: 3rem;
    font-weight: lighter;
    background-color: white;
}
#Now_showing div{
    background-image:url("images/filmreeel.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-blend-mode: lighten;
    display: flex;
    align-items: center;
    align-content: center;
}

#Now_showing p, video{
    padding: 30px;
    text-align: center;
   
    display: inline-block;
}
#Now_showing video{
    margin-left: 25%;
}

