body video{
    width: 40%;
    
}


#Now_showing{
display:block;
margin: auto;
text-align: center;

box-shadow: 0 4px  rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);
  background-color: rgb(255, 255, 255);
}




#Now_showing h2{
    padding-top: 50px;
    left: 0;
    right: 0;
   display: flex;
   background-color: black;
   color: white;
    
    display: block;
    padding-bottom:  50px;
    font-size: 3rem;
    font-weight: lighter;
}  
#vid{
       display: inline-block;
       background-image:url("images/filmreeel.png");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       background-blend-mode: lighten;
       width:100%;
         
       
      

    
}#Now_showing div+div{
  display: inline-block;
  background-color: black;
  color: white;
  width:100%;

}


.parent {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .child {
  
    background-color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 1 10px;
    max-width: 450px;
    transition: .1s all linear;
   
  }
  .child:hover{

    box-shadow: 0 6px  rgba(0,0,0,.05), 0 2px 6px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.15);

  }
  .childof{
  
    flex: 1 1 10px;
  }
  
  .child p{
  font-size: 1.2rem;

  }
